In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [5]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [6]:
for d in data['income_type'].unique():    
    data.loc[(data['income_type'] == d) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == d), 'total_income'].median()

In [7]:
data['days_employed'] = data['days_employed'].abs()

In [8]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [10]:
data = data.loc[data['children'] != -1]
data = data.loc[data['children'] != 20]

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

In [12]:
for d in data['income_type'].unique():    
    data.loc[(data['income_type'] == d) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == d), 'days_employed'].median()

In [13]:
data.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [14]:
data['total_income'] = data['total_income'].astype('int')

In [15]:
data['education'] = data['education'].str.lower()

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

In [18]:
def categorize_income(income):
    if 0 <= income <= 30000:
        return 'E'
    elif 30001 <= income <= 50000:
        return 'D'
    elif 50001 <= income <= 200000:
        return 'C'
    elif 200001 <= income <= 1000000:
        return 'B'
    elif income >= 1000001:
        return 'A'

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [21]:
def categorize_purpose(purpose):
    if 'жил' in purpose or 'нед' in purpose:
        return 'операции с недвижимостью'
    elif 'авто' in purpose:
        return 'операции с автомобилем'
    elif 'образ' in purpose:
        return 'получение образования'
    elif 'сва' in purpose:
        return 'проведение свадьбы'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [23]:
data.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

In [24]:
data_children_debt = pd.DataFrame()
data_children_debt['sum_children'] = data.groupby('children')['debt'].sum()
data_children_debt['count_children'] = data.groupby('children')['debt'].count()
data_children_debt['mean_value'] = (data.groupby('children')['debt'].mean() * 100).round(2).astype(str) + '%'
data_children_debt

          sum_children  count_children mean_value
children
0                 1063           14091      7.54%
1                  444            4808      9.23%
2                  194            2052      9.45%
3                   27             330      8.18%
4                    4              41      9.76%
5                    0               9       0.0%

In [25]:
def ratio(row, column):
    data = row.groupby(column)['debt'].agg(['count', 'sum', 'mean'])
    data['mean'] = (data['mean'] * 100).round(2).astype(str)+'%'
    return data

In [26]:
data_children = ratio(data,'children')
data_children

          count   sum   mean
children
0         14091  1063  7.54%
1          4808   444  9.23%
2          2052   194  9.45%
3           330    27  8.18%
4            41     4  9.76%
5             9     0   0.0%

In [27]:
data_family_status = pd.DataFrame()
data_family_status['family_sum'] = data.groupby('family_status')['debt'].sum()
data_family_status['family_count'] = data.groupby('family_status')['debt'].count()
data_family_status['mean_value'] = (data.groupby('family_status')['debt'].mean() * 100).round(2).astype(str) + '%'
data_family_status

                       family_sum  family_count mean_value
family_status
Не женат / не замужем         273          2796      9.76%
в разводе                      84          1189      7.06%
вдовец / вдова                 63           951      6.62%
гражданский брак              385          4134      9.31%
женат / замужем               927         12261      7.56%

In [28]:
data_total_income_debt = pd.DataFrame()
data_total_income_debt['income_category_sum'] = data.groupby('total_income_category')['debt'].sum()
data_total_income_debt['income_category_count'] = data.groupby('total_income_category')['debt'].count()
data_total_income_debt['mean_value'] = (data.groupby('total_income_category')['debt'].mean() * 100).round(2).astype(str) + '%'
data_total_income_debt

                       income_category_sum  income_category_count mean_value
total_income_category
A                                        2                     25       8.0%
B                                      354                   5014      7.06%
C                                     1353                  15921       8.5%
D                                       21                    349      6.02%
E                                        2                     22      9.09%

In [29]:
data_family = ratio(data, 'total_income_category')
data_family

                       count   sum   mean
total_income_category
A                         25     2   8.0%
B                       5014   354  7.06%
C                      15921  1353   8.5%
D                        349    21  6.02%
E                         22     2  9.09%

In [30]:
def categorize_income(income):
    if 0 <= income <= 30000:
        return 'E'
    elif 30001 <= income <= 50000:
        return 'D'
    elif 50001 <= income <= 75000:
        return 'C1'  
    elif 75001 <= income <= 100000:
        return 'C2'  
    elif 100001 <= income <= 125000:
        return 'C3'
    elif 125001 <= income <= 150000:
        return 'C4'
    elif 150001 <= income < 175000:
        return 'C5'
    elif 175001 <= income <= 200000:
        return 'C6'
    elif 200001 <= income <= 1000000:
        return 'B'
    elif income >= 1000001:
        return 'A'

In [31]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [32]:
data_family = ratio(data, 'total_income_category')
data_family

                       count  sum   mean
total_income_category
A                         25    2   8.0%
B                       5014  354  7.06%
C1                      1483  113  7.62%
C2                      2590  218  8.42%
C3                      3272  288   8.8%
C4                      3838  331  8.62%
C5                      3034  254  8.37%
C6                      1704  149  8.74%
D                        349   21  6.02%
E                         22    2  9.09%

In [33]:
data_purpose_category = pd.DataFrame()
data_purpose_category['purpose_sum'] = data.groupby('purpose_category')['debt'].sum()
data_purpose_category['purpose_count'] = data.groupby('purpose_category')['debt'].count()
data_purpose_category['mean_value'] = (data.groupby('purpose_category')['debt'].mean() * 100).round(2).astype(str) + '%'
data_purpose_category

                          purpose_sum  purpose_count mean_value
purpose_category
операции с автомобилем            400           4279      9.35%
операции с недвижимостью          780          10751      7.26%
получение образования             369           3988      9.25%
проведение свадьбы                183           2313      7.91%